{% extends 'base.html' %}
{% load static %}

{% block title %}Main Page{% endblock %}

{% block notes %}

{% endblock %}

{% block script %}
<script>
    $(async function () {
        const response = await $.ajax({
            url: "{% url "notes_list" %}",
            method: "get"
        });
        response.notes.forEach(note => {
            $(".notes").append(note);
        });
    $("#form").on("submit", async function (e) {
            e.preventDefault();
            const response = await $.ajax({
                method: "post",
                url: {% url "notes_list" %},
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    country: $("#country").val(),
                    visit_date: $("#date").val(),
                    text: $("#text").val()
                }
            });
            $(".notes").prepend(response.note);
            $("#form").trigger("reset")
        })
    $(".delete_button").on("click", function (e){
        e.stopPropagation()
        const pk = $(this)[0].dataset.deletebtnid
        $.ajax({
            url: "{% url "note_details" 0 %}".replace("0", pk),
            method: "delete",
            beforeSend: function(request){
                request.setRequestHeader("X-CSRFToken", "{{ csrf_token }}")
            }
        })
        $(this).parent().parent().remove()
    })
     $(".edit_button").on("click", function (e) {
            e.stopPropagation()
            const noteTextElem = $(this).parent().next().find("span.text")
            const noteText = noteTextElem.text()
            const note_id = $(this)[0].dataset.editbtnid
            const card_body = $(this).parent().next()
            const noteInput = $(`
                <textarea class="note_text form-control" name="text"></textarea>
                <button class="send_edits btn btn-primary btn-sm mt-3">Send</button>
            `)
            const edit_button = $(this)
            noteTextElem.remove()
            noteInput.val(noteText);
            $(this).parent().next().prepend(noteInput)
            edit_button.toggle()

             $(".send_edits").on("click", async function (e) {
               e.stopPropagation()
               $.ajax({
                    url: "{% url "note_details" 0 %}".replace("0", note_id),
                    method: "put",
                    beforeSend: function (request) {
                        request.setRequestHeader("X-CSRFToken", "{{ csrf_token }}")
                    },
                    data: {
                        text: noteInput.val(),
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                    }
                })
                const new_note_text_elem = $(`
                <span class="text">${noteInput.val()}</span>`);
                noteInput.remove();
                card_body.append(new_note_text_elem);
                edit_button.toggle()
             })
        });
    });
</script>
{% endblock %}