{% extends 'base.html' %}
{% load static %}

{% block title %}Main Page{% endblock %}

{% block notes %}

{% endblock %}

{% block script %}
<script>
    $(async function () {
        const response = await $.ajax({
            url: "{% url "notes_list" %}",
            method: "get"
        });
        response.notes.forEach(note => {
            $(".notes").append(note);
        });
    $("#form").on("submit", async function (e) {
            e.preventDefault();
            const response = await $.ajax({
                method: "post",
                url: {% url "notes_list" %},
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    country: $("#country").val(),
                    visit_date: $("#date").val(),
                    text: $("#text").val()
                }
            });
            $(".notes").prepend(response.note);
            $("#form").trigger("reset")
        })
    $(".delete_button").on("click", function (e){
        e.stopPropagation()
        const pk = $(this)[0].dataset.deletebtnid
        $.ajax({
            url: "{% url "note_details" 0 %}".replace("0", pk),
            method: "delete",
            beforeSend: function(request){
                request.setRequestHeader("X-CSRFToken", "{{ csrf_token }}")
            }
        })
        $(this).parent().parent().remove()
    })
    });

</script>
{% endblock %}